---
title: Week 4
week: 4
description: '' 
show_link: true
topics: 
  - title: Exploring Wikipedia API
---



### Due on Wednesday

<%= link_to_slug 'sample-bot-memo' %>. You can work with a partner. Don't worry about the code or actual implementation, just write out all the steps. Assume that the medium for receiving/sending messages will be Twitter.

[Here's a sample memo](/files/code/bots/sample-memo/). 


<blockquote class="twitter-tweet" lang="en"><p>This Twitter bot will show whenever someone edits Wikipedia from within the British Parliament. It was set up by <a href="https://twitter.com/tomscott">@tomscott</a> using <a href="https://twitter.com/IFTTT">@ifttt</a>.</p>&mdash; Parliament WikiEdits (@parliamentedits) <a href="https://twitter.com/parliamentedits/status/486539012413607936">July 8, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>



### SF salaries data

San Francisco compensation data: [as filed by Michael Morisy of MuckRock](https://www.muckrock.com/foi/san-francisco-141/san-francisco-employee-pay-database-17079/)

Great example of a public records request, asking for something that has already been released (see the data [as released on SF's data portal](https://data.sfgov.org/City-Management-and-Ethics/Employee-Compensation/88g8-5mnd)).


I've put up a [Google Spreadsheet version here](https://docs.google.com/a/stanford.edu/spreadsheets/d/1XH6eiRWvAPpwtdLJAR7UKvhlWHChFLqQsalq4bS7Nl0/edit#gid=1290385422).


Wikipedia API things: (I'll finish these by Wednesday):

- <%= link_to_slug "exploring-wikipedia-api-intro"%>
- <%= link_to_slug "exploring-wikipedia-api-via-python"%>
- <%= link_to_slug "intro-to-python-requests-and-json" %>


